In [4]:
import pandas as pd
path = "/Users/admin/Documents/Projects/QSAR-fish-toxicity/artifacts/data_ingestion/data/qsar_fish_toxicity.csv"
df = pd.read_csv(path, sep=";", header=None)
df.head()

       0      1      2  3  4      5      6
0  3.260  0.829  1.676  0  1  1.453  3.770
1  2.189  0.580  0.863  0  0  1.348  3.115
2  2.125  0.638  0.831  0  0  1.348  3.531
3  3.027  0.331  1.472  1  0  1.807  3.510
4  2.094  0.827  0.860  0  0  1.886  5.390

In [5]:
df.shape

(908, 7)